@model  Cephalus.Maldives.Core.Models.Activity
<div>
Activities: @Model.Name
</div>
<div class="long">
    @Html.HiddenFor(m => m.Id)

    @foreach (var specific in Model.Activities)
    {
        @Html.EditorFor(m => specific)
    }
</div>