@model Cephalus.Maldives.Web.Models.AddCustomerModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="left-col">
    <div class="left-col-inner">
        @Html.Partial("~/Views/Home/Partials/_AddCustomerForm.cshtml", Model)
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/AddCustomer")
}
