@model Cephalus.Maldives.Web.Models.EditCustomerModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="left-col">
    <div class="left-col-inner" id="editCustomerFormContainer">
        @Html.Partial("~/Views/Customer/Partials/_EditCustomerForm.cshtml", Model)
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/EditCustomer")
}
