@model Cephalus.Maldives.Web.Models.CustomersModel

<div class="jumbotron">
    <table>
@{
    foreach (var item in Model.Customers)
    {   
        <tr>
            <td style="padding: 5px"><a href="#">Client - @item.CustomerNumber.ToUpper()</a></td>
            <td style="padding: 5px">Birthday: @(item.BirthDate?.ToString("dd.MM.yyyy"))</td>
            <td style="padding: 5px">@(string.Join(", ", item.Tags?.Select(t => t.Display()))) </td>
        </tr>
    }
}
    </table>
</div>