@model Cephalus.Maldives.Web.Models.CustomersModel

<div class="left-col-container">
    <div class="left-col-inner border-bottom">
        <ul class="table-list upload-list">
            @{
                foreach (var item in Model.Customers)
                {
                    <li>
                    @Html.DisplayFor(m => item)
                    </li>
                }
            }
        </ul>
    </div>
</div>