<div class="left-col-container">
    <div class="frame frame-grey membership-list-wrap">
        <div class="frame-inner">
            <div class="left-col-inner border-bottom1">
                <div class="inner-top style-1-a">
                    <h3 class="blue">
                        Search Filters
                    </h3>
                </div>
                <fieldset class="form-row">
                    <span>
                        @Html.ActionLink("Add customer", "Customer", "Home")
                    </span>
                </fieldset>
            </div>
        </div>
    </div>
</div>
